<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="nl.rogro.GScript"
      android:versionCode="1"
      android:versionName="1.0.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:description="@string/app_description">
        <activity android:name=".GScript"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>
    <activity android:name="GScriptAdd" android:label="@string/app_name"></activity>
    <activity android:name="GScriptEdit" android:label="@string/app_name"></activity>
	<activity android:name="GScriptExec" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
	<activity android:name="GScriptLoad" android:label="@string/app_name"></activity>
	
        <activity-alias android:name=".CreateShortcuts"
            android:targetActivity=".GScript"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>	
	
</application>



</manifest> 